#main_button{
    -fx-background-color: #88f;
}

#main_button:pressed{
    -fx-background-color: #55f;
}

#main_area {
    -fx-background-color: cyan;
}

#notice {
    -fx-font-size: 14;
    -fx-font-family: 'DejaVu Sans', Arial, Helvetica, sans, sans-serif;
    -fx-text-fill: black;
}

#introductionEditor {
    -fx-font-size: 12;
    -fx-font-family: "Cambria", "DejaVu Sans", "Helvetica Neue", Helvetica, sans-serif;
    -fx-text-fill: black;
}

#wordButton {
    -fx-border-radius: 30;
    -fx-background-color: #c3c4c4;
}

#wordButton:pressed {
    -fx-background-color: #a3c4c4;
    -fx-border-radius: 60;
}

.border {
    -fx-border-color: black;
}

#submit {
    -fx-background-color: #9ccc65
}

#submit:pressed {
    -fx-background-color: #4caf50;
}

#lang_dialog {
    -fx-background-color: #ffcc80;
}

#lang_dialog:pressed {
    -fx-background-color: #ffb74d;
}

#languages{
    -fx-border-color: black;
    -fx-font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    -fx-font-size: 12;
}

#title_text{
    -fx-font-size: 24;
    -fx-font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    -fx-alignment: cm;
    -fx-font-weight: bold;
}

#errorBarTitle {
    -fx-font-size: 17;
    -fx-font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    -fx-font-style: italic;
    -fx-padding: 10;
}

#cardTitle {
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

.login_plain {
    -fx-text-fill: black;
    -fx-font-size: 12;
    -fx-font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
}